:root{
    --azul-hover: #1CB0F6;;
    --azul-selecao: rgb(3, 92, 194);
    --borda: rgb(221, 221, 221);
}
body{
    margin: 0;
    padding: 2% 5% 0 5%;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flexbox;
    font-size: 28pt;
}
nav{
    display: inline-flex;
}
nav button{
    margin-top: 1%;
    background-color: white;
    height: 7vh;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--borda);
    border-bottom: none;
    font-size: 12pt;
    transition: all 0.3s;            
    cursor: pointer;
    padding: 0 1%;            
}
nav button:hover{
    background-color: var(--azul-hover) !important;
    color: white !important;
}

#main{
    border: 1px solid rgb(221, 221, 221);
    width: 100%;
    padding: 1% 2% 0 2%;
    min-height: 50vh;
    display: flex;
}

.tabela {
    border-collapse: collapse;
    text-align: center;
    margin-top: 1%;
}

.tabela td, th{
    border-top: 1px solid var(--borda);
    border-bottom: 1px solid var(--borda);
    padding: 5px 10px;
}

.filters{
    overflow: hidden;
    height: 40px;
    display: flex;
    align-items: center;
}

.filters > label, select, input{ /*todos os filhos dos tipos label, select e input*/
    margin-right: 1%;
}

input[type=number]{
    width: 110px;
    font-size: 12pt;
}

input[type=email]{
    width: 250px;
    font-size: 12pt;
}

select, label{
    font-size: 12pt;
}

.btn {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 10px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 10px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
   }
   
.btn:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.btn:main, button:focus {
    user-select: auto;
}

.btn:hover:not(:disabled) {
    filter: brightness(1.1);
}

.btn:disabled {
    cursor: auto;
    background-color: rgb(146, 145, 145);
}

.btn:disabled:after{
    background-color: rgb(179, 179, 179);
}

.btn:active:after {
    border-width: 0 0 0px;
}

.btn:active {
    padding-bottom: 7px;
}